/*  ESTO ERA LO ANTERIOR
    .container-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 6px;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-buttons {
    display: flex;
    padding: 0 2%;
}

.container-buttons ul li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
} 

.container-buttons ul li a{
    display: flex;
    padding: 2% 6%;
    border-radius: 5px;
    transition: .2s;
    /* position: absolute;
    left: 10px; */
}

.container-buttons svg{
    stroke: var(--blanco);
    width: 40px;
        height: 40px;
} 

.container-buttons ul li a:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
}

.container-buttons ul li .icon-button-1:hover{
    background-color: var(--blanco);
    
}

.container-buttons ul li .icon-button-1:hover svg{
    stroke: var(--azul);
    
}

.btns-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
} 

.btns-nav-container a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    
    
}

.btns-nav-container a::after a::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: var(--medicas);
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    
    
}

.btn-1 {
    background: var(--blanco);
    color: var(--azul);
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-1:hover {
    transform: translate(-6px, -6px);
    background: var(--medicas);
    color: var(--blanco);
    
}

.btn-2 {
    background: var(--medicas);
    color: var(--blanco);
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-2:hover {
    transform: translate(-6px, -6px);
    background: var(--blanco);
    color: var(--azul);
}

@media screen and (max-width: 1200px) {
    .container-buttons ul li a {
        padding: 1px 1px;
    }

    .container-buttons svg{
     /*    stroke: var(--gris); */
        width: 30px;
        height: 30px;
    } 

    .btns-nav-container a {
        padding: 5px 20px;
    }
}

@media screen and (max-width: 850px) {
    .container-buttons ul li a {
        padding: 1px 1px;
    }

    .container-buttons svg{
     /*    stroke: var(--gris); */
        width: 20px;
        height: 20px;
    } 

    .btns-nav-container a {
        padding: 5px 4px;
        letter-spacing: 1px;
    }
}

