.container-gestion-de-pagos {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: #e7e4e4;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "identificar-alumno revisar-pagos revisar-pagos"
        "identificar-alumno revisar-pagos revisar-pagos"
        "recuperar-pagos revisar-pagos revisar-pagos"
        "recuperar-pagos revisar-pagos revisar-pagos"
        "recuperar-pagos revisar-pagos revisar-pagos"
        "recuperar-pagos revisar-pagos revisar-pagos"
        "recuperar-pagos revisar-pagos revisar-pagos";
}

.container-identificar-alumno-gestion-de-pagos {
    background-color: #ffff;
    grid-area: identificar-alumno;
}

.container-recuperar-pagos {
    background-color: #ffff;
    grid-area: recuperar-pagos;
}

.container-revisar-pagos {
    background-color: #ffff;
    grid-area: revisar-pagos;
}
