.container-gestionar-matriculas-especiales {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: #e7e4e4;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia"
        "lista-documentos-excelencia editar-estado-documentos-excelencia editar-estado-documentos-excelencia";
}

.container-lista-de-matriculas-especiales {
    background-color: #ffff;
    grid-area: lista-documentos-excelencia;
}

.editar-estado-matriculas-especiales {
    background-color: #ffff;
    grid-area: editar-estado-documentos-excelencia;
}
