/* variables */
/* :root {
    --colorBody: #0e131d;
    --colorPrimario: rgb(24, 27, 56)
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
  }

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorBody);
    /* color: black; */
    /* display: grid; */
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


#root {
    display: grid;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    gap: 8px;
    grid-template-rows: 30px 1fr repeat(7, minmax(0, 1fr));
    grid-template-areas:
        "barraDeTitulo barraDeTitulo"
        "barraLateral1 main"
        "barraLateral1 main"
        "barraLateral2 main"
        "barraLateral2 main"
        "barraLateral2 main"
        "barraLateral2 main"
        "barraLateral2 main"
        "barraLateral2 main";
}


.barraTitulo {
    /* background-color: darkred; */
    grid-area: barraDeTitulo;
    width: 100%;
    margin-bottom: 0;
}   

.barraLateral1{
    background-color:var(--colorPrimario); 
    grid-area: barraLateral1;
    border-radius: 10px;
    margin: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.barraLateral2{
    background-color: var(--colorPrimario); 
    grid-area: barraLateral2;
    border-radius: 10px;
    margin: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.header_principal {
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    grid-area: header;
    border-radius: 10px;
    margin: 0px 8px 0px 10px;
}

.main {
    background-color: var(--colorPrimario);
    grid-area: main;
    border-radius: 10px;
    margin: 0px 0px 8px 10px;
    overflow: scroll;
    width: 100%;
    height: 100%;
}


/* .aside {
    background-color: var(--colorPrimario);
    grid-area: aside;
    border-radius: 10px;
    margin: 0px 8px 8px 0px;
} */














