.seccion-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-area: logo-loading;
  }
  
  .logo-loading img {
    max-width: 200%;
    max-height: 200%;
    object-fit: cover; /* Puedes ajustar 'contain' o 'cover' según tus preferencias */
  }
  
  .message-loading {
    bottom: 10%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .pantalla-de-carga {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/wallpaper.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }