
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CONTAINER PRINCIPAL*/
.container-recuperar-alumnos{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: #e7e4e4;
}

.container-recuperar-alumnos .container-izquierda-recuperar-alumnos{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
}


/* CONTAINER SECUNDARIO*/

.container-recuperar-alumnos .container-register {
    background-color: #ffffff;
    border-radius: 10px;
}

.filtros-busqueda .title-filter { 
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: var(--oscuro);
    padding: 5px;
}