
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* CONTAINER PRINCIPAL*/
.container-recuperar{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: #e7e4e4;

}

.container-recuperar::-webkit-scrollbar{
    width: 10px;
}

.container-recuperar::-webkit-scrollbar-track{
    background: var(--grisClaro);
    border-radius: 25px;
}

.container-recuperar::-webkit-scrollbar-thumb{
background: var(--gris);
border-radius: 25px;
}

/* CONTAINER PRINCIPAL*/
.container-recuperar .container-principal{
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
}

.container-recuperar .container-principal .header-register{
    padding: 20px;
}

.container-recuperar .container-principal .mostrar-main-alumnos{
    max-height: 100%;
    overflow-y: auto;
}

.container-recuperar .container-principal .mostrar-main-alumnos::-webkit-scrollbar{
    width: 10px;
}

.container-recuperar .container-principal .mostrar-main-alumnos::-webkit-scrollbar-track{
    background: var(--grisClaro);
    border-radius: 25px;
    margin-top: 10px;
}

.container-recuperar .container-principal .mostrar-main-alumnos::-webkit-scrollbar-thumb{
    background: var(--gris);
    border-radius: 25px;
    margin-top: 10px;
} 



/* CONTAINER SEARCH */
.container-search {
    display: flex;
    height: 30%;
    width: 18%; 
    cursor: pointer;
    margin: 0 auto;
    padding: 20px;
    background: var(--blanco);
    border-radius: 30px;
    align-items: center; 
    transition: 0.8s;
    box-shadow: 0 10px 25px var(--negro);
}

.container-search:hover {
    width:100%;
}

.container-search:hover input{
    width:100%;
}

.container-search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 600;
    transition: 0.8s;
    color: var(--azul);
    background: transparent;
}

.container-search .button-search{
    cursor: pointer;
}


/* CONTAINER SECUNDARIO*/
/* .container-register {
    position: sticky;
    top: 0px;
} */

.container-register {
    background-color: var(--blanco);
    border-radius: 10px;
/*     overflow: auto; */
}

.main-register {
    padding: 2px;
    /* border: 2px solid var(--negro); */
    background: var(--grisClaro);
    border-radius: 10px;
    /* position: sticky;
    top: 0px; */
}

.main-register .header-register{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container-register .header-register  {
    position: sticky;
    top: 0px;
}
 */
.filtros-busqueda .title-filter { 
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: var(--oscuro);
    padding: 5px;
}

/* .filtros-busqueda .filter-main { 
    left: 50px;
} */