@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
    --fondo: #e7e4e4;   
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-registro-carrera {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 8px;
    background-color: var(--fondo);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "formulario  ver-carreras"
        "formulario  ver-carreras"
        "formulario  ver-carreras"
        "formulario  ver-carreras"
        "eliminar-carrera  ver-carreras"
        "eliminar-carrera ver-carreras"
        "eliminar-carrera  ver-carreras"
}

.container-formulario-registro-carrera{
    background-color: var(--blanco);
    grid-area: formulario;
    border-radius: 10px;
}

.container-ver-carreras{
    background-color: var(--blanco);
    grid-area: ver-carreras;
    border-radius: 10px;
}

.container-eliminar-carrera{
    background-color: var(--blanco);
    grid-area: eliminar-carrera;
    border-radius: 10px;
}

.input-descuento-new {
    text-align: center;
    margin: 10px auto;
    width: 30%;
    height: 2%;
    cursor: pointer;
    
}

.options-carreras {
    padding: 10px;
    left: 10px;
}

.container-formulario-registro-carrera {
    max-height: 100%;
    overflow-y: auto;
}

.container-formulario-registro-carrera::-webkit-scrollbar{
    width: 10px;
}

.container-formulario-registro-carrera::-webkit-scrollbar-track{
    background: var(--grisClaro);
    border-radius: 20px;
}

.container-formulario-registro-carrera::-webkit-scrollbar-thumb{
    background: var(--gris);
    border-radius: 20px;
}

.container-formulario-registro-carrera .btn-register-new { 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--blanco);
    border-radius: 50px;
    margin: 10px; 
    background-color: var(--gris);
    transition: all 0.3s linear;
    cursor: pointer;

}

.container-formulario-registro-carrera .btn-register-new:hover { 
    background-color: var(--primario); /* CAMBIAR COLOR */
}

.container-carreras .btn-register-new { 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    color: var(--blanco);
    border-radius: 50px;
    margin: 10px; 
    background-color: var(--gris);
    transition: all 0.3s linear;
    cursor: pointer;

}

.container-carreras .btn-register-new:hover { 
    background-color: var(--primario); /* CAMBIAR COLOR */
}

