
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
    --colorBody: #e7e4e4;
    --colorPrimario: #ffffff;

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #02529eff;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --medicas: #01a7ffff;
    --letras: #b52228ff;
    --azul: #00167fff;
    --rojo: #ff0000ff; 
    --negro: #000000ff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-no-hay-alumnos-registrados{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--rojo);
  font-weight: 600;
  font-size: 16px;
}
/*
.container-select-alumno .datos-select-alumno {
  position: relative;
  margin: 0 auto;
  padding: 1%;
  width: 95%;
  background-color: var(--grisClaro); -- VERIFICAR --
  box-shadow: 8px 8px 5px 2px var(--gris);
  border-radius: 10px;
}

.datos-select-alumno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4% 0;
  border-spacing: 0;
  margin-top: 10px;  
}

.datos-select-alumno span{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--gris);  
}

.datos-select-alumno .icons-select-alumno{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px; 
  cursor: pointer;
  margin-right: 5px;
}
 */

.datos-select-alumno {
/*   position:; */
  margin: 0 auto;
  padding: 1%;
  width: 95%;
  box-shadow: 8px 8px 5px 2px var(--gris);
  border-radius: 10px;

}

.datos-select-alumno {
  display: grid;
  align-items: center;
  width: 90%;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-rows: 1fr;
}

.datos-select-alumno span {
  align-items: center;
  text-align: center;
  padding: 4% 0 4% 0;
  text-align: center;
}

.container-select-alumno .datos-select-alumno {
  margin-top: 10px;
  max-height: 180px;
  overflow-y: auto;
}

.container-select-alumno .datos-select-alumno::-webkit-scrollbar{
  width: 5px;
}

.container-select-alumno .datos-select-alumno::-webkit-scrollbar-track{
  background: var(--grisClaro);
  border-radius: 25px;
}

.container-select-alumno .datos-select-alumno::-webkit-scrollbar-thumb{
  background: var(--gris);
  border-radius: 25px;
}

.titulo-tabla-lista-de-alumnos{
  color: var(--azul);
  font-size: 18px;
}

.icons-select-alumno {
  display: flex;
  padding: 2%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

  
}

.icons-select-alumno svg {
  stroke: var(--azul);
  margin: 0 5px;
}

.ver-seleccionador-alumno:hover {
  transform: translate(-4px, -4px);
  border-radius: 5px;
}

.modificar-seleccionador-alumno:hover {
  transform: translate(-4px, -4px);
  border-radius: 5px;
}

.ver-select-alumno{
  z-index: 0;
}

.modificar-select-alumno{
  z-index: 0;
}

.ver-select-alumno:hover {
  cursor: pointer;
}

.ver-select-alumno:hover svg{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}


.modificar-select-alumno:hover {
  cursor: pointer;
}

.modificar-select-alumno:hover svg{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}