thead {
    background: rgb(34, 37, 240);
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th,td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}